{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/cadastro-desejo.css' %}">
    <link rel="shortcut icon" href="{% static 'imgs/presente.ico' %}" type="image/x-icon">
    <title>Cadastrar Desejos</title>
</head>
<body>
    <header>
        <div class="header-content">
            <h1><a href="{% url 'home' %}" class="titulo">Presentes Luiz-Maria!</a></h1>
            </div>
        </div>
    </header>
    <div class="main-content">
        <h2>Insira os dados do presente</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <label for="id_nome">Nome:</label>
            <input type="text" name="nome" maxlength="200" required="" id="id_nome" autocomplete="off" value="{{ form.instance.nome }}">

            <label for="id_descricao">Descrição:</label>
            <input type="text" name="descricao" maxlength="200" required="" id="id_descricao" autocomplete="off" value="{{ form.instance.descricao }}">

            <label for="id_preco">Preço:</label>
            {% if editar %}
            <input type="text" name="preco" step="any" required="" id="id_preco" autocomplete="off" placeholder="{{ form.preco_real }}">
            {% else %}
            <input type="text" name="preco" step="any" required="" id="id_preco" autocomplete="off" placeholder="R$ 0.00">
            {% endif %}
            <label for="id_foto" class="custom-file-input">
                <span class="file-label">Foto</span>
                <input type="file" name="foto" accept="image/*" id="id_foto" onchange="previewImage(this)">
            </label>
            {% if form.instance.foto == None %}
            <img id="foto" class="foto" src="">
            {% else %}
            <img id="foto" class="foto" src="/{{ form.instance.foto }}">
            {% endif %}

            <button type="submit">{% if editar %}Salvar Alterações{% else %}Postar Presente{% endif %}</button>
        </form>
    </div>
    
</body>
<script src="{% static 'js/cadastro-desejo.js' %}"></script>
</html>