{% extends 'templates/base.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <title>Página Inicial</title>
</head>
<body>
    {% block content %}
    <include header.html></include>
    {% if user.is_authenticated %}
    <h2 class="apresentacao">
        {% if user.username == 'maria' %}Desejos de Luiz{% else %}Desejos de Maria{% endif %}
    </h2>
    <hr>
    <div class="main-content">
        {% for presente in presentes %}
        <div class="presente-box">
            <h2>{{ presente.nome }}</h2>
            <img src="{{ presente.foto }}" alt="{{ presente.nome }}" class="foto">
            <ul>
                <li class="descricao">Descrição: {{ presente.descricao }}</li>
                <li class="preco">Preço: R$ {{ presente.preco|floatformat:2 }}</li>
            </ul>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="not-logged-in-message">
        <p>Por favor, faça login para poder ver todos os presentes!</p>
    </div>
    {% endif %}
    <footer>
        <p>© 2024 Luiz-Maria. Todos os direitos reservados.</p>
    </footer>
    {% endblock %}
</body>
</html>
