{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presentes</title>
</head>
<body>
    <header class="barra-head">
        <div class="texto-head">
            <h2>Bem vindo ao site</h2>
        </div>
        <div class="area-login">
            {% if user.is_authenticated %}
            <a href="">Criar desejo</a>
            <a href="">Meus desejos</a>
            <a href="{% url 'logout' %}">Sair</a>
            {% else %}
            <a href="{% url 'login' %}">Entrar</a>
            {% endif %}
        </div>
    </header>
</body>
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<script src="{% static 'js/script.js' %}"></script>
</html>