{% extends 'templates/base.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <title>Página Inicial</title>
</head>
<body>
    {% block content %}
    <include header.html></include>
    {% if user.is_authenticated %}
    <section class="main-content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel velit in odio rhoncus aliquet non et dui.
        </p>
        <p>
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce ac nunc eget velit
            ultrices bibendum. Sed vulputate venenatis dolor, et aliquam orci pellentesque vel.
        </p>
    </section>
    {% else %}
    <div class="not-logged-in-message">
        <p>Por favor, faça login para poder ver todos os presentes!</p>
    </div>
    {% endif %}
    <footer>
        <p>© 2024 Luiz-Maria. Todos os direitos reservados.</p>
    </footer>
    {% endblock %}
</body>
</html>
