@import url('https://fonts.googleapis.com/css2?family=Cookie&family=EB+Garamond&family=Pacifico&family=Sofia&family=Tangerine&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #fadced;
    color: #333;
}
  
header {
    display: flex;
    width: 100%;
    background: linear-gradient(to right, #fc97d2 40%, #fff);
    color: #fff;
}

.header-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.titulo{
    font-size: 42px;
    font-family: 'Pacifico';
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-left: 30px;
    background-color: #fc97d2;
    transition: 0.1s ease-out;
}

.titulo:hover{
    background-color: #cfeafc;
}

.main-content {
    width: 700px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.preco{
    background-color: #c6f4ff;
    padding: 5px;
    border-radius: 5px;
    max-width: fit-content;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 68px;
    font-family: 'EB Garamond';
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 26px;
    margin-bottom: 8px;
    font-family: 'EB Garamond';
}

input[type="text"],
input[type="number"]{
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'EB Garamond';
}

input[type="file"]{
    width: 1px;
    height: 1px;
}

.custom-file-input {
    position: relative;
    display: inline-block;
}

.custom-file-input .file-label {
    width: 94%;
    text-align: center;
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #fc97d2;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 34px;
    font-family: 'EB Garamond';
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-file-input input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.custom-file-input:hover .file-label {
    background-color: #cfeafc;
}


button {
    background-color: #cfeafc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 34px;
    font-family: 'EB Garamond';
}

button:hover {
    background-color: #fc97d2;
}

#foto {
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
}