@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    padding: 0;
    background-color: rgb(16, 13, 44);
}

.texto-login{
    font-size: 50px;
    font-family: 'Roboto Mono';
    color: white;
}

label{
    font-size: 36px;
    font-family: 'Roboto Mono';
    color: white;
}

input.dados1{
    font-size: 30px;
    margin-left: 25px;
    
}

input.dados2{
    font-size: 30px;
    margin-left: 3px;
}