{% load static %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="shortcut icon" href="{% static 'imgs/presente.ico' %}" type="image/x-icon">
  <title>Página Inicial</title>
</head>
<body>
    <header>
        <div class="header-content">
          <h1><a href="{% url 'home' %}" class="titulo">Presentes Luiz-Maria!</a></h1>
          {% if user.is_authenticated %}
          <div class="botoes">
            <a class="link" href="{% url 'cadastro-desejo' %}">Adicionar desejo</a>
            <a class="link" href="{% url 'meus-desejos' %}">Meus desejos</a>
            <a class="link" href="{% url 'logout' %}">Sair</a>
            {% else %}
            <a class="link-login" href="{% url 'login' %}">Login</a>
            {% endif %}
          </div>
        </div>
      </header>
    {% if user.is_authenticated %}
    <h2 class="apresentacao">
        {% if user.username == 'maria' %}Desejos de Luiz{% else %}Desejos de Maria{% endif %}
    </h2>
    <hr>
    <div class="main-content">
        {% for presente in presentes %}
        <div class="presente-box">
            <h2>{{ presente.nome }}</h2>
              {% if presente.foto %}
              <img src="{{ presente.foto.url }}" alt="{{ presente.nome }}" class="foto">
              {% else %}
              <img src="" alt="{{ presente.nome }}" class="foto">
              {% endif %}
            <ul>
                <li class="descricao">Descrição: {{ presente.descricao }}</li>
                <li class="preco">Preço: {{ presente.preco_real }}</li>
            </ul>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="not-logged-in-message">
        <p>Por favor, faça login para poder ver todos os presentes!</p>
    </div>
    {% endif %}
    <footer>
        <p>© 2024 Luiz-Maria. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
