{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/meus-desejos.css' %}">
    <link rel="shortcut icon" href="{% static 'imgs/presente.ico' %}" type="image/x-icon">
    <title>Meus Desejos</title>
</head>
<body>
    <header>
        <div class="header-content">
            <h1><a href="{% url 'home' %}" class="titulo">Presentes Luiz-Maria!</a></h1>
            </div>
        </div>
    </header>
    <h1 class="main-text">Seus Desejos</h1>
    <hr>
    <div class="presentes-container">
        {% for presente in presentes %}
            <div class="presente-box">
                <h2>{{ presente.nome }}</h2>
                {% if presente.foto.url %}
                <img src="{{ presente.foto.url }}" alt="{{ presente.nome }}" class="foto">
                {% else %}
                <img src="" alt="{{ presente.nome }}" class="foto">
                {% endif %}
                <ul>
                    <li class="descricao">Descrição: {{ presente.descricao }}</li>
                    <li class="preco">Preço: {{ presente.preco_real }}</li>
                </ul>
                <form method="post" action="{% url 'apagar_presente' presente.id %}" >
                    {% csrf_token %}
                    <button type="button" class="editar" onclick="editar('{{ presente.id }}')">Editar</button>
                    <button type="submit" onclick="return confirm('Tem certeza que deseja apagar este presente?')" class="btn-apagar">Apagar</button>
                </form>
            </div>
        {% endfor %}
    </div>
</body>
<script src="{% static 'js/meus-desejos.js' %}"></script>
</html>